html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
  font-family: UnifracturCook-Bold;
  src: url(UnifrakturCook-Bold.ttf);
}

.title {
  font-family: UnifracturCook-Bold;
}